*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 30px;
    border: 1px solid red ;
}
h1{
    text-align: center;
}
main {
    width: 100%;
    margin: auto;
    border: 1px solid rgb(2, 105, 33);
    /* background-color: rgb(12, 11, 11); */
}
.classe-ecran{
    /* border: solid red; */
    text-align:end;
    height: 70px;
    
   
}
body{
    background-color: rgb(102, 148, 151);
}
.classe-clavier {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: black;
}

.classe-clavier-chiffres {
    display: flex;
    flex-wrap: wrap;
}
.classe-boutton {
    margin: 2px auto;
    border-radius: .5rem;
    background-color: #42dde2f3;
}
/* .classe-boutton {
    margin: 2px auto;
    border-radius: .5rem;
} */

.clavier-signes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
}

.classe-clavier {
    margin-top: 1rem;
}
h1{
    text-align: center;
}